on init
    # Force SELinux to permissive immediately
    write /sys/fs/selinux/enforce 0
    
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 1

on post-fs
    # Support A/B feature symlinks
    wait /dev/block/mmcblk0boot0 2
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/by-name/preloader_b

    # Keystore directories
    mkdir /data/misc/keystore 0770 keystore keystore
    mkdir /data/misc/gatekeeper 0770 system system

    # Permissions
    chmod 0755 /vendor/bin/hw/android.hardware.keymaster@4.1-service.beanpod
    chmod 0755 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    chmod 0755 /system/bin/keystore2

# --------------------------------------------------------
# [FIX] Keystore2 AIDL Service
# --------------------------------------------------------
service keystore2 /system/bin/keystore2 /data/misc/keystore
    class early_hal
    user keystore
    group keystore readproc log
    seclabel u:r:recovery:s0
    # THIS LINE BELOW FIXES the "Could not find aidl/android.system.keystore2" error
    interface aidl android.system.keystore2.IKeystoreService/default

# --------------------------------------------------------
# [FIX] Keymaster 4.1 Service
# --------------------------------------------------------
service keymaster-4-1 /vendor/bin/hw/android.hardware.keymaster@4.1-service.beanpod
    user root
    group root drmrpc
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    seclabel u:r:recovery:s0
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    seclabel u:r:recovery:s0
    interface android.hardware.gatekeeper@1.0::IGatekeeper default

# --------------------------------------------------------
# Triggers
# --------------------------------------------------------
on property:hwservicemanager.ready=true
    start keymaster-4-1
    start gatekeeper-1-0
    start keystore2

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    start keymaster-4-1
    start gatekeeper-1-0
    start keystore2
